img {
  width: 25%;
}
body {
  background-color: mediumslateblue;
}

p {
  font-family: "Passions Conflict";
  font-size: 3rem;
}

h2 {
  font-family: "UnifrakturMaguntia";
  font-size: 3rem;
}
h1 {
  font-family: "Rubik Dirt";
  font-size: 4rem;
}

img {
  width: 25%;
}

img {
  width: 25%;
}

a {
  font-family: "yellowtail";
  font-size: 3rem;
}
